
		p {
			color: red;
		}


		h1 {
			color: darkred
		}

		
		h2 {
			color: blueviolet
		}

		h3 {
			color: blue
		}

		table.zaza {
			width: 500px;
			height: 300px;
		}

		p {
			text-align: center;
		}